<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!-- <suite name="DS_AlgoTestNG Suite" > -->
<suite name="API_Bootcamp_Suite" >

<listeners>
  <listener class-name="com.nn.apibootcamp.utilities.ExtentReportsListener"/>
</listeners>

<test name="APIBootcamp">
  <classes>
<class name="com.nn.apibootcamp.test.API_Chaining_PositiveTestCase"></class>
<class name="com.nn.apibootcamp.test.GET_NegativeTestCase"></class>
<class name="com.nn.apibootcamp.test.Post_NegativeTestCase"></class>
<class name="com.nn.apibootcamp.test.PUT_NegativeTestCase"></class>
<class name="com.nn.apibootcamp.test.DELETE_NegativeTestCase"></class>
</classes>
</test>
</suite>

